<div id="divregistation" style="display: none">
    <button type="text" class="btn waves-effect waves-light" id="logout" style="float: right ;
    background-color: #b14138">Logout</button>
    <h2> All Registation</h2>

    <form>
        <div class="input-field col s12 l6">
            <input type="text" id="name" class="validate" value="<%=registation.name %>">
            <label for="first_name"> Name</label>
        </div>
        <div class="input-field col s12 l6">
            <input type="text" id="address" class="validate">
            <label for="last_name">Address </label>
        </div>
        <div class="input-field col s12">
            <input type="number" id="Phone" class="validate">
            <label for="email" data-error="wrong" data-success="right">Phone</label>
        </div>
        <div class="input-field col s12">
            <input type="text" id="city" class="validate">
            <label for="city" data-error="wrong" data-success="right">City</label>
        </div>
        <div>
            <button class="btn waves-effect waves-light" id="Submitregistation" type="submit">Submit
            </button>
        </div>
    </form>
    <table class="striped">
        <thead>
            <tr>
                <th data-field="id">Name</th>
                <th data-field="name">Address</th>
                <th data-field="price">Phone</th>
                <th data-field="price">City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% registation.forEach(function(item){%>
                <tr>
                    <td>
                        <%= item.name %>
                    </td>
                    <td>
                        <%= item.address %>
                    </td>
                    <td>
                        <%= item.Phone %>
                    </td>
                    <td>
                        <%= item.city %>
                    </td>
                    <td>
                            <a  class="btn btn-primary" href="/registation/editdata/<%= item.id %>">Edit</a>
                        <button id="delete" class="btn btn-primary" style="background-color: #2630a6" onclick="Delete(`<%= item.id %>`)">Delete</button>
                    </td>
                </tr>
                <%}) %>
        </tbody>
    </table>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

<script>
    function setAuthenticationHeader() {
        const token = localStorage.getItem('token');
        return { 'Authorization': token }
    }
    $(document).ready(function () {
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/';
        } else {
            $("#divregistation").show();
        }

        $("#logout").click(function (e) {
            e.preventDefault()
            localStorage.removeItem('token')
            window.location = '/'
        })

        $("#Submitregistation").click(function (event) {
            event.preventDefault();
            addregistation();
        });

        addregistation = function () {
            if (!$('#name').val()) {
                return $.notify('Enter Name', { type: 'danger' });
            }
            if (!$('#address').val()) {
                return $.notify('Enter address', { type: 'danger' });
            }

            if (!$('#Phone').val()) {
                return $.notify('Enter Phone', { type: 'danger' });
            }

            if (!$('#city').val()) {
                return $.notify('Enter city', { type: 'danger' });
            }

            $.ajax('/registation/add', {
                method: 'POST',
                contentType: 'application/json',
                processData: false,
                headers: setAuthenticationHeader(),
                data: JSON.stringify({
                    name: $('#name').val(),
                    address: $('#address').val(),
                    Phone: $('#Phone').val(),
                    city: $('#city').val()
                }),
                success: function (result) {
                    $.notify("Add Sucessfull", "success");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                },

            })  
        }

    })

    function Delete(id) {
        $.ajax(`/registation/delete/${id}`, {
            method: 'GET',
            contentType: 'application/json',
            processData: false,
            headers: setAuthenticationHeader(),
            success: function (result) {
                $.notify("Delete Sucesfull", "success");
                setTimeout(() => {
                    location.reload();
                }, 1000);

            },

        })
    }
</script>